/*Especifidad: 1 -> a = 0 b = 0 c = 1*/
body{
    background-color: lightgrey;
    color: black;
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
}
/*Especifidad: 1 -> a = 0 b = 0 c = 1*/
h1{
    text-align: center;
    color: #8b4abf;
}

/*Especifidad: 1 -> a = 0 b = 0 c = 1*/
ul{
    text-align: left;
}

/*Especifidad: 100 -> a = 1 b = 0 c = 0*/
#mapa{
    height: 800px;
    width: auto;
	margin: auto;
}
